<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employees - Edit</title>
    <style>
      table,
      th,
      td {
        border: 1px solid black;
      }
    </style>
  </head>
  <body onload="editEmployeeHandler()">
    <h1 style="text-align: center;">Factory Management Site</h1>
    <button onclick="location.href = '/welcome';">Homepage</button>
    <button onclick="location.href = './employees'">Employees</button>
    <button onclick="location.href = '/departments/getPage/departments';">Departments</button>
    <button onclick="location.href = '/shifts/getPage/shifts'">Shifts</button>
    <button>Users</button>
    <button onclick="location.href = '/login/logout'">Logout</button>
    <h3 id="user-name"></h3>

    ID: <input type="text" id="employeeID" value="1111" readonly /> (read only)
    <br /><br />
    First Name: <input type="text" id="firstName" value="John" /> <br /><br />
    Last Name: <input type="text" id="lastName" value="Doe" /> <br /><br />
    Start Work Year: <input type="text" id="startWorkYear" value="2019" />
    <br /><br />
    Department Name: <input type="text" id="department" value="Marketing" />
    <br /><br />
   <p>Employee's Shifts</p> 
    <table id="user-shift-table"></table>

  </br>  <p>Entire Shifts Database</p>  
    <table id="all-shifts-table"></table></br>

    <button onclick="updateEmployee()">Update</button>

    <button onclick="deleteEmployee()">Delete</button>

    <p id="responseFromServer"></p>
    <script>

      let newShiftsForEmployee = {
        shifts: []
      };

      async function updateEmployee() {
        const id = sessionStorage["editEmployeeID"];
        const data = {
          firstName: document.getElementById("firstName").value,
          lastName: document.getElementById("lastName").value,
          startWorkYear: document.getElementById("startWorkYear").value,
          departmentName: document.getElementById("department").value,
          shifts: newShiftsForEmployee.shifts,
        };
        const response = await fetch(
          `http://localhost:3000/employees/edit/${id}`,
          {
            method: "PUT",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
          }
        );
        const user = await response.json();
        document.getElementById("responseFromServer").innerText = user;
      }

      async function deleteEmployee() {
        const id = sessionStorage["editEmployeeID"];

        const response = await fetch(
          `http://localhost:3000/employees/edit/${id}`,
          {
            method: "DELETE",
          }
        );
        const user = await response.json();
        document.getElementById("responseFromServer").innerText = user;
      }

      async function editEmployeeHandler() {
        const id = sessionStorage["editEmployeeID"];

        const response = await fetch(
          `http://localhost:3000/employees/edit/${id}`,
          {
            method: "GET",
          }
        );
        const user = await response.json();
        user.shifts.forEach((shift) => newShiftsForEmployee.shifts.push(shift._id))

        document.getElementById("firstName").value = user.firstName;
        document.getElementById("lastName").value = user.lastName;
        document.getElementById("startWorkYear").value = user.startWorkYear;
        document.getElementById("department").value = user.departmentID.name;
        document.getElementById("employeeID").value = user._id;

        // Build employees existing shifts table
        buildEmployeeShiftsTable(user.shifts, "user-shift-table");

        // Build all available shifts table
        let allShifts = await getAllShifts();
        buildEmployeeShiftsTable(allShifts, "all-shifts-table");

        // TODO Use session to store the incoming user data
        const name = sessionStorage["name"];
        const welcome = (document.getElementById(
          "user-name"
        ).innerText = `Welcome, ${name || ""}`);
      }

      async function getAllShifts() {
        const response = await fetch(
          `http://localhost:3000/shifts`,
          {
            method: "GET",
          }
        );
        const shifts = await response.json();
        return shifts;
      }

       function buildEmployeeShiftsTable(shifts, shiftsTableIdentifier) {
        let employeeID = document.getElementById("employeeID");
        let usersTable = document.getElementById(shiftsTableIdentifier);
        usersTable.innerHTML = `<table id=${shiftsTableIdentifier}>
      <tr>
        <th id="date">Date</th>
        <th id="starting-hour">Starting Hour</th>
        <th id="ending-hour">Ending Hour</th>
      </tr>
    </table>`;

        shifts.forEach((shift) => {
          // We are adding at the end
          let row = usersTable.insertRow(-1);
          row.setAttribute("id", `${shift._id}`);

          // Create table cells
          let date = row.insertCell(0);
          let startingHour = row.insertCell(1);
          let endingHour = row.insertCell(2);

          if (shiftsTableIdentifier === "all-shifts-table") {
            row.addEventListener("click", async (event) => {

              // Cancel selection
              if(row.style.background === "yellow" ){
                row.style.background = "white"
                newShiftsForEmployee = newShiftsForEmployee.shifts.filter((shiftID) => shiftID != row.id) 
                if(newShiftsForEmployee.length === 0)
                newShiftsForEmployee = {
                  shifts: []
                };

              }else{ // Select shift row to add for employee
              
              const isExist = newShiftsForEmployee.shifts.find((shift) => shift === row.id)
              if(isExist === undefined){
                newShiftsForEmployee.shifts.push(row.id)
                row.style.background = "yellow"
              }
              }

          });
          }

          date.innerHTML = `${shift.date}`;
          startingHour.innerHTML = `${shift.startingHour}`;
          endingHour.innerHTML = `${shift.endingHour}`;
        });

      }
    </script>
  </body>
</html>
