<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
  </head>
  <body>
    <h1 style="text-align: center">Factory Management Site</h1>

    <div style="text-align: center">
      <h1>Login</h1>
      Username: <input type="text" id="username" /> <br /><br />
      Email: <input type="text" id="email" /> <br /><br />
      <button onclick="login()">Login</button>
    </div>

    <p id="serverReponse"></p>

    <script>      
      const url = "http://localhost:3000/login";

      const login = async () => {
        const loginData = {
          username: document.getElementById("username").value,
          email: document.getElementById("email").value,
        };

        const resp = await fetch(url, {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify(loginData),
        });

        const responseData = await resp.json();
        if (responseData.status === "No Auth")
          document.getElementById("serverReponse").innerText =
            "Wrong username or email!";
        else {
          sessionStorage["name"] = responseData.name;
          location.href = "/welcome";
        }
      };
    </script>
  </body>
</html>
