button{
    background-color:yellow;
  }
  
  button:hover{background-color:orange;}
  
  button:focus{background-color:red;}
  
  a {
    color: orange;
  }
  
  a.button{
    color:green;
    text-decoration: none;
  }
  
  a:visited {
    color: purple;
  }
  
  a:active {
    color: blue;
  }